<!DOCTYPE HTML>

<html>
	<head>
		<title>오늘 카페 어디가지?</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/main.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="/static/main.js"></script>
	</head>

	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
					<div class="inner">
						<header>
							<h1><a href="index.html" id="logo">오늘 카페 어디가지?</a></h1>
							<hr/>
							<p>for seoul</p>
						</header>
						<div class="gu_button">
							<footer onclick="q1()">
								<a class="button circled scrolly">강남구</a>
							</footer>
							<footer onclick="q2()">
								<a href="#gangdong" class="button circled scrolly">강동구</a>
							</footer>
							<footer onclick="q3()">
								<a href="#gangbuk" class="button circled scrolly">강북구</a>
							</footer>
							<footer onclick="q4()">
								<a href="#gangseo" class="button circled scrolly">강서구</a>
							</footer>
							<footer onclick="q5()">
								<a href="#gwanak" class="button circled scrolly">관악구</a>
							</footer>
							<footer onclick="q6()">
								<a href="#gwangjin" class="button circled scrolly">광진구</a>
							</footer>
							<footer onclick="q7()">
								<a href="#guro" class="button circled scrolly">구로구</a>
							</footer>
							<footer onclick="q8()">
								<a href="#geumcheon" class="button circled scrolly">금천구</a>
							</footer>
							<footer onclick="q9()">
								<a href="#nowon" class="button circled scrolly">노원구</a>
							</footer>
						</div>
						<div class="gu_button">
							<footer onclick="q10()">
								<a href="#dobong" class="button circled scrolly">도봉구</a>
							</footer>
							<footer onclick="q11()">
								<a href="#dongdaemun" class="button circled scrolly">동대문</a>
							</footer>
							<footer onclick="q12()">
								<a href="#dongjak" class="button circled scrolly">동작구</a>
							</footer>
							<footer onclick="q13()">
								<a href="#mapo" class="button circled scrolly">마포구</a>
							</footer>
							<footer onclick="q14()">
								<a href="#seodaemun" class="button circled scrolly">서대문</a>
							</footer>
							<footer onclick="q15()">
								<a href="#seocho" class="button circled scrolly">서초구</a>
							</footer>
							<footer onclick="q16()">
								<a href="#seongdong" class="button circled scrolly">성동구</a>
							</footer>
							<footer onclick="q17()">
								<a href="#seongbuk" class="button circled scrolly">성북구</a>
							</footer>
						</div>
						<div class="gu_button">
							<footer onclick="q18()">
								<a href="#songpa" class="button circled scrolly">송파구</a>
							</footer>
							<footer onclick="q19()">
								<a href="#yangcheon" class="button circled scrolly">양천구</a>
							</footer>
							<footer onclick="q20()">
								<a href="#yeongdeungpo" class="button circled scrolly">영등포</a>
							</footer>
							<footer onclick="q21()">
								<a href="#yongsan" class="button circled scrolly">용산구</a>
							</footer>
							<footer onclick="q22()">
								<a href="#eunpyeong" class="button circled scrolly">은평구</a>
							</footer>
							<footer onclick="q23()">
								<a href="#jongno" class="button circled scrolly">종로구</a>
							</footer>
							<footer onclick="q24()">
								<a href="#jung" class="button circled scrolly">중구</a>
							</footer>
							<footer onclick="q25()">
								<a href="#jungnang" class="button circled scrolly">중랑구</a>
							</footer>
						</div>
						</div>


			<!-- Banner -->
				<section id="banner">
					<header>
						<h3><strong>Made by...</strong>  </h3>
					</header>
				</section>
				</div>

			<!-- Carousel -->
			<section id="gangnam" class="carousel">
					<div class="home_key">
					<p class="carousel_name">☕ 강남구 카페 목록</p>
					<a class="floating" onclick="reload()" href="#">홈으로 🔼</a>
					</div>
				</span>

				<div id="cafe_card_gangnam" class="reel">
				</div>
			</section>
			<section id="gangdong" class="carousel">
				<div class="home_key">
					<p class="carousel_name">☕ 강동구 카페 목록</p>
					<a class="floating" onclick="reload()" href="#">홈으로 🔼</a>
				</div>
				<div id="cafe_card_gangdong" class="reel">
				</div>
			</section>
			<section id="gangbuk" class="carousel">
				<div class="home_key">
					<p class="carousel_name">☕ 강북구 카페 목록</p>
					<a class="floating" onclick="reload()" href="#">홈으로 🔼</a>
				</div>
				<div id="cafe_card_gangbuk" class="reel">
				</div>
			</section>
			<section id="gangseo" class="carousel">
				<div class="home_key">
					<p class="carousel_name">☕ 강서구 카페 목록</p>
					<a class="floating" onclick="reload()" href="#">홈으로 🔼</a>
				</div>
				<div id="cafe_card_gangseo" class="reel">
				</div>
			</section>
			<section id="gwanak" class="carousel">
				<div class="home_key">
					<p class="carousel_name">☕ 관악구 카페 목록</p>
					<a class="floating" onclick="reload()" href="#">홈으로 🔼</a>
				</div>
				<div id="cafe_card_gwanak" class="reel">
				</div>
			</section>
			<section id="gwangjin" class="carousel">
				<div class="home_key">
					<p class="carousel_name">☕ 광진구 카페 목록</p>
					<a class="floating" onclick="reload()" href="#">홈으로 🔼</a>
				</div>
				<div id="cafe_card_gwangjin" class="reel">
				</div>
			</section>
			<section id="guro" class="carousel">
				<div class="home_key">
					<p class="carousel_name">☕ 구로구 카페 목록</p>
					<a class="floating" onclick="reload()" href="#">홈으로 🔼</a>
				</div>
				<div id="cafe_card_guro" class="reel">
				</div>
			</section>
			<section id="geumcheon" class="carousel">
				<div class="home_key">
					<p class="carousel_name">☕ 금천구 카페 목록</p>
					<a class="floating" onclick="reload()" href="#">홈으로 🔼</a>
				</div>
				<div id="cafe_card_geumcheon" class="reel">
				</div>
			</section>
			<section id="nowon" class="carousel">
				<div class="home_key">
					<p class="carousel_name">☕ 노원구 카페 목록</p>
					<a class="floating" onclick="reload()" href="#">홈으로 🔼</a>
				</div>
				<div id="cafe_card_nowon" class="reel">
				</div>
			</section>
			<section id="dobong" class="carousel">
				<div class="home_key">
					<p class="carousel_name">☕ 도봉구 카페 목록</p>
					<a class="floating" onclick="reload()" href="#">홈으로 🔼</a>
				</div>
				<div id="cafe_card_dobong" class="reel">
				</div>
			</section>
			<section id="dongdaemun" class="carousel">
				<div class="home_key">
					<p class="carousel_name">☕ 동대문구 카페 목록</p>
					<a class="floating" onclick="reload()" href="#">홈으로 🔼</a>
				</div>
				<div id="cafe_card_dongdaemun" class="reel">
				</div>
			</section>
			<section id="dongjak" class="carousel">
				<div class="home_key">
					<p class="carousel_name">☕ 동작구 카페 목록</p>
					<a class="floating" onclick="reload()" href="#">홈으로 🔼</a>
				</div>
				<div id="cafe_card_dongjak" class="reel">
				</div>
			</section>
			<section id="mapo" class="carousel">
				<div class="home_key">
					<p class="carousel_name">☕ 마포구 카페 목록</p>
					<a class="floating" onclick="reload()" href="#">홈으로 🔼</a>
				</div>
				<div id="cafe_card_mapo" class="reel">
				</div>
			</section>
			<section id="seodaemun" class="carousel">
				<div class="home_key">
					<p class="carousel_name">☕ 서대문구 카페 목록</p>
					<a class="floating" onclick="reload()" href="#">홈으로 🔼</a>
				</div>
				<div id="cafe_card_seodaemun" class="reel">
				</div>
			</section>
			<section id="seocho" class="carousel">
				<div class="home_key">
					<p class="carousel_name">☕ 서초구 카페 목록</p>
					<a class="floating" onclick="reload()" href="#">홈으로 🔼</a>
				</div>
				<div id="cafe_card_seocho" class="reel">
				</div>
			</section>
			<section id="seongdong" class="carousel">
				<div class="home_key">
					<p class="carousel_name">☕ 성동구 카페 목록</p>
					<a class="floating" onclick="reload()" href="#">홈으로 🔼</a>
				</div>
				<div id="cafe_card_seongdong" class="reel">
				</div>
			</section>
			<section id="seongbuk" class="carousel">
				<div class="home_key">
					<p class="carousel_name">☕ 성북구 카페 목록</p>
					<a class="floating" onclick="reload()" href="#">홈으로 🔼</a>
				</div>
				<div id="cafe_card_seongbuk" class="reel">
				</div>
			</section>
			<section id="songpa" class="carousel">
				<div class="home_key">
					<p class="carousel_name">☕ 송파구 카페 목록</p>
					<a class="floating" onclick="reload()" href="#">홈으로 🔼</a>
				</div>
				<div id="cafe_card_songpa" class="reel">
				</div>
			</section>
			<section id="yangcheon" class="carousel">
				<div class="home_key">
					<p class="carousel_name">☕ 양천구 카페 목록</p>
					<a class="floating" onclick="reload()" href="#">홈으로 🔼</a>
				</div>
				<div id="cafe_card_yangcheon" class="reel">
				</div>
			</section>
			<section id="yeongdeungpo" class="carousel">
				<div class="home_key">
					<p class="carousel_name">☕ 영등포구 카페 목록</p>
					<a class="floating" onclick="reload()" href="#">홈으로 🔼</a>
				</div>
				<div id="cafe_card_yeongdeungpo" class="reel">
				</div>
			</section>
			<section id="yongsan" class="carousel">
				<div class="home_key">
					<p class="carousel_name">☕ 용산구 카페 목록</p>
					<a class="floating" onclick="reload()" href="#">홈으로 🔼</a>
				</div>
				<div id="cafe_card_yongsan" class="reel">
				</div>
			</section>
			<section id="eunpyeong" class="carousel">
				<div class="home_key">
					<p class="carousel_name">☕ 은평구 카페 목록</p>
					<a class="floating" onclick="reload()" href="#">홈으로 🔼</a>
				</div>
				<div id="cafe_card_eunpyeong" class="reel">
				</div>
			</section>
			<section id="jongno" class="carousel">
				<div class="home_key">
					<p class="carousel_name">☕ 종로구 카페 목록</p>
					<a class="floating" onclick="reload()" href="#">홈으로 🔼</a>
				</div>
				<div id="cafe_card_jongno" class="reel">
				</div>
			</section>
			<section id="jung" class="carousel">
				<div class="home_key">
					<p class="carousel_name">☕ 중구 카페 목록</p>
					<a class="floating" onclick="reload()" href="#">홈으로 🔼</a>
				</div>
				<div id="cafe_card_jung" class="reel">
				</div>
			</section>
			<section id="jungnang" class="carousel">
				<div class="home_key">
					<p class="carousel_name">☕ 중랑구 카페 목록</p>
					<a class="floating" onclick="reload()" href="#">홈으로 🔼</a>
				</div>
				<div id="cafe_card_jungnang" class="reel">
				</div>
			</section>
		</div>
	</body>
</html>